.header-body {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  //   box-shadow: 0 0 20px #aaa;

  .title {
    font-size: 24px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header-body {
    display: flex;
    flex-direction: column;
    height: 60px;
    padding-left: 0px;
    padding-right: 20px;
    align-items: left;
    justify-content: left;
    margin-bottom: 20px;
    //   box-shadow: 0 0 20px #aaa;

    .title {
      font-size: 24px;
      color: black;
      font-weight: bold;
      cursor: pointer;
      text-align: left;
      margin-right: 0px;
    }
  }
}
